body {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
}

td {
	font-family:   Arial,Verdana, Helvetica, sans-serif;
	font-size:12px;
	color: #000000;
	text-decoration: none;
}

.t_head {
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	background-color:#BABFA2;
	text-decoration: none;
	padding-left:10px;
	width:150px;
}

.t_data {
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size:12px;
	text-decoration: none;
	padding-left:5px;
}

ul, ol {
	font-family:  Arial,Verdana, Helvetica, sans-serif;
}


.leftnav:link {
	font-family:  Arial,Verdana, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color: #636531;
	padding-left:5px;
}

.leftnav:visited {
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color: #636531;
	padding-left:5px;
}

.leftnav:hover {
	color: #4E6C22;
	font-weight:bold;
	padding-left:5px;
}

.leftnav:active {
	color: #4E6C22;
	font-weight:bold;
	padding-left:5px;
}
.editlink{
font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#944D10;
}
.editlink:link{
font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#944D10;
}
.editlink:visited{
font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#944D10;
}
.editlink:hover{
font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#A56531;
}
.editlink:active{
font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#944D10;
}
.dellink{
font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#FF0000;
}
.dellink:link{
font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#FF0000;
}
.dellink:visited{
font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#FF0000;
}
.dellink:hover{
font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#FF0000;
}
.dellink:active{
font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#FF0000;
}


A:link , A:visited{
font:Arial,Verdana, Helvetica, sans-serif;
text-decoration:none;
}

A:hover, A:active{
color:#9900FF;
text-decoration:underline
}

.addButton {
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	font-weight:bold;
	border: 1px solid #856131;
	background-color:#CC8346;
}

.button{
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	font-weight:bold;
	border: 1px solid #BDBF9C;
	background-color:#636531;
}

.red{
	color:#FF0000;
}

.tr_bg_h {
	background-color:#A56531;
}
.tr_bg {
	background-color:#FFD7BA;
}
.tr_bg1 {
	background-color: #FF0000;
}
.tr_bg2 {
	background-color: #FFCC99;
}

.cat_head{
	background-color:#636531;
	font-family:Arial,Verdana, Helvetica, sans-serif;
	color: #fff;
	padding: 4px;
	line-height:20px;
	text-align: left;
	border-bottom: 1px #fff solid;
	font-size: 12px;
	font-weight: bold;
	}
	
.frmhead{
	background-color:#C4C5A9;
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	color:#333333;
	text-align: left;
	}
	
.frmdata{
	background-color:#E7E8D0;
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #000;
	text-align: left;
	}
.admin_head {
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #636531;
	font-weight:bold;
	padding-left:10px;
}
.col_head{
font-family:Arial,Verdana, Helvetica, sans-serif;
color:#FFFFFF;
font-weight:bold;
}

.display_data{
	background-color:#E7E8D0;
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #000;
	padding-left:10px;
	}
	 
.breadcrumb {
	font-family:Arial,Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color:#993300;
	height: 44px;
	
}

.breadcrumb:link{
font-family:font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color:#993300;
}

.breadcrumb:hover{
font-family:font-family:Arial,Verdana, Helvetica, sans-serif;
font-size:11px;
color: #333300;
}

.tbox{
width:250px;
}


/*___________________sachin_______________________________*/

.menu_bar_1{ 
background-image: url(../images/menu_bar_1.gif);
background-repeat:repeat-y;
background-position:top left;
}

.menu_tee_1{ 
background-image: url(../images/menu_tee_1.gif);
background-repeat:no-repeat;
background-position:top left;
/*background-color:#ffffff;*/

}

.colorheadtext_1{
		font-family:Arial,Verdana, Helvetica, sans-serif;
		font-size:14px;
		color: #636531;
	}
	
	
.border{ 
/*	border-bottom-color: #BBBBBB;
	border-bottom-width:1px;
	border-bottom-style:solid;*/
	border-left-color:#BBBBBB;
	border-left-width:1px;
	border-left-style:solid;
/*	border-right-color:#BBBBBB;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#BBBBBB;
	border-top-style:solid;
	border-top-width:1px;*/
}

.tag {
	font-size:20px;
	letter-spacing:3px;
	font-weight: normal;
	color:#1B5378;
}

.tag_1 {
	font-size:16px;
	font-weight: bold;
	letter-spacing:1px;
	color:#343434;
}

.tag_2 {
	font-size:16px;
	font-weight: bold;
	letter-spacing:1px;
	color:#B90000;
}


.tr_active {
	background-color: #FFCC99;
	font-weight:bold;
}
.tr_inactive {
	background-color:#FFD7BA;
}
