@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	}
.pages{
	font-size:15px;
	font-weight:bold;
	text-align:left;
	text-decoration:none;
	color:#00457c;
	}
.sub_h {
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color:#676869;
	}		
td {
	font-size:14px;
	color:#000100;
	}	
#ul_sty {	
	list-style:disc;
	padding:4px 2px 0 28px;
	}
#ul_sty, li {
	margin:0;
	padding:4px 2px 0 8px;
	font-style:normal;
	color:#000100;
	}
#ol_sty {	
	list-style:disc;
	padding:4px 2px 0 28px;
	}
#ol_sty, li {
	margin:0;
	padding:4px 2px 0 8px;
	font-style:normal;
	color:#000100;
	}
.p_align {
	text-align:justify;
	}
	
 a {
	font-size:14px;
	background-image: none !important;
	color: #737270 !important;
	font-size:13px;
	text-decoration:none;
}
 a:hover {
	text-decoration: underline !important;
	color: #00388c !important;
}			

/*____________________________________________________________*/

.page3_bg1{
color: #0877BF /*#3F89C3 ___green*/;
padding: 4px;
font-weight:bold;
font-size:18px;
text-align: left;
border-bottom: 3px #0877BF /*#A9CDE4___green*/ solid;
}				

.page3_bg2{
background-color:#FFFFFF;
color: #434343;
padding:4px 10px 4px 4px;
font-size:12px;
text-align: justify;
}

.page3_bg3{
background-color:#FFFFFF;
color: #434343;
padding: 4px;
font-size:12px;
text-align: left;
}


#page3_tabs{
background-image:url(../images/bullet.gif);
background-repeat:no-repeat;
background-position:left;
display:block;
width:auto;
height:auto;
padding-left:15px;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
/*font-weight:bold;*/
color:#434343;
text-decoration:none;
}


#page3_tabs:visited{
background-image:url(../images/bullet.gif);
background-repeat:no-repeat;
background-position:left;
display:block;
width:auto;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
/*font-weight:bold;*/
color:#434343;
text-decoration: none;
}

#page3_tabs:active{
background-image:url(../images/bullet.gif);
background-repeat:no-repeat;
background-position:left;
display:block;
width:auto;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
/*font-weight:bold;*/
color:#434343;
text-decoration: none;
}


#page3_tabs:hover{
background-image:url(../images/bullet.gif);
background-repeat:no-repeat;
background-position:left;
display:block;
width:auto;
height:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
/*font-weight:bold;*/
color:#3989C5;
text-decoration: none;
}

#page3_tabs .selected{
/*background-image:url(../images/bullet.gif);
background-repeat:no-repeat;
background-position:left;
display:block;
width:auto;
height:auto;*/
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#3989C5;
text-decoration:underline;
}

.line{
background-image: url(../images/tail1.gif);
background-repeat:repeat-x;
height:5px;

}

.page3_name1{ font:"Times New Roman", Times, serif;
font-size:18px;
font-style:italic;
color:#ffffff;}

.page3_box1{
background-color: #00457C;
color:#fff;
padding: 4px;
text-align: left;
border: 1px #fff solid;}

.page3_col{
color:#ffffff;
}

.page3_email:link {
	font-size:12px;
	text-decoration:underline;
	color:#ffffff;
	}
.page3_email:visited {
	font-size:12px;
	text-decoration:underline;
	color:#ffffff;	
	}
.page3_email:active{
	font-size:12px;
	text-decoration: underline;
	color:#ffffff;	
	}
.page3_email:hover {
	font-size:12px;
	text-decoration: none;
	color:#ffffff;
	}
	

.page3_list:link {
	font-size:12px;
	text-decoration:none;
	color:#00457C;
	}
.page3_list:visited {
	font-size:12px;
	text-decoration:none;
	color:#00457C;	
	}
.page3_list:active{
	font-size:12px;
	text-decoration: none;
	color:#00457C;	
	}
.page3_list:hover {
	font-size:12px;
	text-decoration: underline;
	color:#434343;
	}
	
.page3_popbg_1{ background-color:#A9CDE4;}

.page3_popbg_2{ background-color:#ffffff;}