div {
  float: right;
  margin-right: 20px;
  height: 20px;

  ul {
    padding: 0;
    list-style-type: none;
    margin: 0 0 0 10px;

    li {
      display: inline;
      float: left;
      margin-left: 20px;
      position: relative;

      a {
        display: block;
        padding: 8px 0;
        border-left-width: 0;
        text-decoration: none;
        height: 32px;
        color: #000;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
      }

      &.header_support {
        width: 98px;
        height: 28px;
        background: url(../../../images/support_button_blue.png) no-repeat 0 8px;

        &:hover {
          background: url(../../../images/support_button_blue_hover.png) no-repeat 0 8px;
        }

        a {
          color: #fff !important;
        }
      }

      &.pending {
        background: url(../../../images/support_button_red.png) no-repeat 0 8px;

        &:hover {
          background: url(../../../images/support_button_red_hover.png) no-repeat 0 8px;
        }
      }
    }
  }
}
