.formel_a .inpt_a.dr { background-position: 2px 0px; padding-left:25px; padding-top:1px; }
.formel_a div.error label { color:#9D261D; }
.formel_a div.error input { border-color: #C87872; background: #FAE5E3;}
