APP_ENV=production
APP_DEBUG=false
APP_KEY=1xwz84Z6PQCoZhZprekX4BNzTtcc6yy4

APP_URL=https://www.dentalsleepsolutions.com/
APP_URL_NAME=DentalSleepSolutions.com
APP_NAME=Dental Sleep Solutions

LEGACY_PATH=/var/www/html/legacy
API_PATH=/var/www/html/api
PHP_PATH=/usr/bin/php

API_URL=https://api.dentalsleepsolutions.com/

TWILIO_SID=ACabeb55ff892c430eb6e00a780c9c7bbe
TWILIO_TOKEN=72f0c5ce8f2b2b292fae10f419806e31
TWILIO_API_VERSION=2010-04-01
TWILIO_NUMBER=941-999-2587
TWILIO_ENABLED=true

DB_HOST=127.0.0.1
DB_DATABASE=database
DB_USERNAME=user
DB_PASSWORD=password

NEWRELIC_APP_NAME=PHP Application
