.DS_Store
manage/admin/includes/config.php
admin/includes/config.php
manage/sleepstudies/*
manage/q_file
manage/q_file/*
manage/letterpdfs/*
manage/admin/letterhead/*
manage/edx_scripts
manage/edx_scripts/*
