h3 {
  font-family: Times, serif;
  color: #095D81;
  font-size: 32px;
  width: 100%;
  text-align: center;
  margin-top: 0;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
}

.homesuckertreemenu, .suckertreemenu {
  ul {
    padding: 0;
    list-style-type: none;
    margin: 0 0 0 10px;

    li {
      a {
        display: block;
        width: 166px; /* Width of top level menu link items */
        padding: 8px 0 0 0;
        border-left-width: 0;
        text-decoration: none;
        height: 32px;
        color: #095d81;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        background: url(../../../images/navigation_button.png) no-repeat top left;
        cursor: pointer;

        &:hover {
          background: url(../../../images/navigation_button_hover.png) no-repeat top left;
          color: #095d81;
        }
      }

      ul {
        left: 170px;
        position: absolute;
        top: 1em; // no need to change, as true value set by script
        display: block;
        visibility: hidden;
        margin-left: 0;
        margin-top: -9px;
        z-index: 50;

        li {
          display: list-item;
          float: none;
          margin-left: 0;
          border-right: 1px solid #095d81;
          border-left: 1px solid #095d81;
          border-bottom: 1px solid #095d81;
          background: url(../../../images/btnTrans.png) repeat;

          ul {
            left: 159px; // no need to change, as true value set by script
            top: 0;
            margin-top:6px;
            padding-left: 2px;
            border-top: 1px solid #095d81;
          }

          a {
            display: block;
            width: 150px; // width of sub menu levels
            color: #095d81;
            text-decoration: none;
            padding: 8px 5px 0 5px;
            background: none;
            height: auto;
            text-align: left;
            font-size: 13px;

            &:hover {
              color: #FFF;
              font-weight: bold;
              background: #00457c;
              overflow: hidden;
            }
          }
        }
      }
    }
  }

  .mainfoldericon {
    background: url(../../../images/navigation_button.png) no-repeat top left;
  }

  .subfoldericon {
    background: url(../../../images/arrow-right.gif) no-repeat center right;
  }
}

/* Top level list items */
.suckertreemenu ul li {
  display: inline;
  float: left;
  margin-left: 10px;
  position: relative;
}

.homesuckertreemenu ul li {
  position:relative;
}
