.notsuckertreemenu ul {
  padding: 0;
  list-style-type: none;
  margin: 0;

  li {
    position: relative;

    ul {
      left: 235px;
      position: absolute;
      top: 3px; // no need to change, as true value set by script
      display: block;
      margin-left: 0;
      margin-top: -9px;
      z-index: 50;
    }
  }
}
