#alert_text {
    margin-top: 10px;
    width: 410px;
}

#referred_source div{ 
    float:left;
}

.alert-text {
    margin-bottom: 10px;
    width: 420px;
}

.show-alert-text {
    display: inline;
}

.hide-alert-text {
    display: none;
}