div.login_container {
  background: url(/src/assets/images/login_box.png) no-repeat 0 0;
  width: 625px;
  height: 162px;
  margin: 80px auto 0 auto;
}

form {
  padding: 20px 0 0 200px;
  width: 400px;
}

table {
  width: 400px;
}

td.t_head {
  background: #00457c;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
}

div.login_container a, span.screener {
  font-size: 10px;
  color: #00457C;
  text-decoration: none;
  font-family: sans-serif;
  float: right;
  margin-top: 4px;
}

span.red {
  color: #FF0000;
}

span.registration_links {
  float: right;
}
