.info {
	height: 20px;
}
.info label{
	line-height: 20px;
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 10px;
}
.info .value{
	line-height: 20px;
}

#view-contact {
    background: url(assets/images/tall.jpg);
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 1%;
}
