.addButton.notCompletedButton{
  background:#ddd;
  color:#5C8DB8;
}

.addButton.notCompletedButton:hover{
  background:#5C8DB8;
  color:#fff;
}
.completed_date, .next_sched{ width: 80px; }

a.deleteButton{
  font-size:11px;
  font-weight: normal;
  padding: 2px;
  }

#treatment_div{
  margin-left: 50px;
  width: 220px;
  float: left;
  margin-right: 100px;
  }
#treatment_list{
  border: solid 2px #000;
  width: 220px;
  }

#treatment_list.current_step{
  border:solid 4px #000;
  }

ul.treatment{
  list-style: none;
  margin: 0;
  width: 220px;
  padding: 0;
  }

ul.treatment li{
  padding: 0 10px;
  width: 200px;
  height:20px;
  }

ul.treatment a{
  cursor: pointer;
  padding: 3px 0;
  display: block;
  }

ul.treatment.sect1 .completed_step, ul.treatment.sect1 .last{
  background: #99f;
  }

ul.treatment.sect2{
  background: #ccc;
  }

#step2{
  width: 500px;
  float: left;
  }

#appt_summ{
  border: solid 2px #000;
  }

#arrow_div{
  position:absolute;
  width: 50px;
  background: url(../images/flowsheet_arrow.png) no-repeat 0 bottom;
  min-height: 10px;
  margin-left:170px; 
  }

#sched_div{
  border:solid 2px #000;
  padding: 20px;
  }

#sched_div.current_step{
  background: pink;
  border:solid 4px #000;
  }

#sched_div #next_step_div, #next_step_date_div{
  float: left;
  margin-right: 10px;
  }

#sched_div label{
  font-weight: bold;
  display: block;
  }

#next_step{
  width:200px;
}

#next_step_date{
  width: 80px;
  }

.sub_text{
  width: 160px;
  float:right;
  font-size: 10px;
  margin-top:5px;
  }
