.addButton.notCompletedButton{
  background:#ddd;
  color:#5C8DB8;
}

.addButton.notCompletedButton:hover{
  background:#5C8DB8;
  color:#fff;
}
.completed_date, .next_sched{ width: 80px; }

a.deleteButton{
  font-size:11px;
  font-weight: normal;
  padding: 2px;
  }

