body, p, table, td {
    line-height: 1.25em;
    letter-spacing: 0.04em;
}

body > *:first-child {
    margin-top: 0;
}

p {
    margin-block-start: 1.25em;
    margin-block-end: 1.25em;
}

p:empty {
    line-height: 0;
}

p:empty::after {
    content: "\00A0";
    line-height: 0;
}

ul, ol {
    width: auto;
    padding-left: 3em;
}

li + ul, li + ol, li + p {
    margin-top: 1.25em;
}

table + ul, table + ol, table + p {
    margin-top: 0;
}

table + p {
    margin-top: 0;
}

li {
    padding: 0;
}

table {
    border-spacing: 0;
    width: 100%;
}

td {
    padding: 0;
    vertical-align: top;
}

body, td, ul, ol {
    font-size: 14pt;
}

mark {
    color: inherit;
    background: transparent;
}

.preview-placeholder {
    cursor: default;
    color: #00c;
    background: transparent;
}

.preview-placeholder:hover {
    background: #fffacd;
}

.show-placeholders .preview-placeholder:empty::after,
.show-placeholders img.preview-placeholder[src=""]::after {
    content: "<empty>";
    font-style: italic;
    color: #ccf;
}
