table {
	/* margin-bottom:20px; */
	border:1px solid #000;
}

td {
	vertical-align:top;
}

.highrow{
	height:35px;
}

#sleepstudyscrolltable tr td {
	border-bottom: 1px solid #000;
	height: 35px;
}

#sleeplablabels	{
	/* line-height:22.6px; */
}

#sleeplablabels tr td {
	height: 35px;
	padding: 0; 
	border-bottom: 1px solid #000;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

#flowsheet_page2 td {
	border-bottom:1px solid #000;
}

#flowsheetpage2 {
	overflow:hidden;
}

#flowsheetpage2 td {
	overflow:hidden;
}

#startterminationrow td {
	border-bottom:none;
}