#patient_search {
	width: 300px;
}

#search_hints, .search_hints {
	width: 300px;
	position: absolute;
	z-index: 300;
	border:solid 1px #000;
	background: #fff;
}

#patient_list, .search_list {
  padding: 0;
	margin: 0;
  font-size: 14px;
	font-weight: normal;
}

#patient_list ul, .search_list ul {
	list-style-type:none;
	padding:0;
	margin: 0;
}

#patient_list li, .search_list li {
		margin: 0;
		padding: 2px 10px;
    position:relative;
    list-style-type: none;
    cursor:pointer;
}
#patient_list li.no_matches{
  cursor:default;
  color:#999;
}
.search_list li:hover {
	background: #ddd;
}

.list_hover {
	background: #ddd;
}
