
#summ_nav{
  list-style: none;
  float: left;
  padding:15px;
  }

#summ_nav li{
  margin-bottom: 5px;
  }

#summ_nav li a{
  display: block;
  width: 108px;
  height: 24px;
  background: url(../images/summ_nav.png) no-repeat 0 -36px;
  text-align: center;
  font-size: 12px;
  padding-top: 12px; 
  color: #333;
  }

#summ_nav li a:hover, #summ_nav li a.active{
  background-position: 0 0;
  color: #fff;
  text-decoration: none;
  }


#sections{
  width: 800px;
  margin-left:10px;
  float:left;
  }

.half{
  width: 48%;
  float:left;
  }

.half h4{
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 10px;
  }

.box{
  padding: 1%;
  border: solid 1px #000;
  width: 90%;
  }
