
.vob_item{
  margin-left:50px;
  font-size: 20px;
  clear:both;
  height: 60px;
  margin-top:20px;
  display:block;
  color:#000;
  text-decoration:none;
  }

a.vob_item.error{
  padding-left:30px;
  background: url(../images/icons/red_x.png) no-repeat 0 10px;
  color: #f33;
  }


a.vob_item.success{
  padding-left:30px;
  background: url(../images/icons/check_done.png) no-repeat 0 10px;
  color:#999;
  }

.vob_check{
  margin-top:14px;
  width:72px;
  height:66px;
  display:block;
  float: left;
  background: url(../images/green_check.png) no-repeat 0 0;
  }


.vob_x{
  margin-top:14px;
  width:24px;
  height:26px;
  display:block;
  float: left;
  background: url(../images/icons/red_x.png) no-repeat 0 0;
  }

.vob_item span{
  padding-top:25px;
  display:block;
}

.vob_icon{
  width: 49px;
  height: 49px;
  display: block;
  float:left;
  margin: 0 15px;
  }


.vob_request{
  background: url(../images/request_vob.png) no-repeat center center;
  }

.vob_file{
  background: url(../images/file_insurance.png) no-repeat center center;
  }

.error .vob_insurance{
  background: url(../images/icons/insurance_info.png) no-repeat center center;
  }

.success .vob_insurance{
  background: url(../images/icons/insurance_info_done.png) no-repeat center center;
  }

.vob_study{
  background: url(../images/icons/sleep_study.png) no-repeat center center;
  }

.vob_rx{
  background: url(../images/rx.png) no-repeat center center;
  }

.vob_lomn{
  background: url(../images/LOMN.png) no-repeat center center;
  }

