<?
	session_start();
	$con = mysql_connect("localhost","root","t3mp123") or trigger_error('connection failure', E_USER_ERROR);
	$db = mysql_select_db("dentalsl_site_dev") or trigger_error('DB connection failure', E_USER_ERROR);
	
	$base_path = 'http://'.$_SERVER['HTTP_HOST'].'/dental/';
	include("general.htm");
	$site_name = "Dental Sleep Solutions";
	$site_url = "dentalsleepsolutions.com";
?>
