@import "../screener";

p {
  margin: 0;
}

div.sepH_b {
  margin-bottom: 12px;

  &.fixed-height {
    height: 25px;
  }
}

div.dp50 {
  float: left;
  display: inline;
  margin: 0 1%;
  min-height: 1px;
  width: 48%;
}

input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

div.error {
  position: relative;

  > label {
    color: #9d261d;
  }
}

label.lbl_a {
  display: block;
  margin-bottom: 4px;
  color: #666;
  font-weight: 700;
}

div.msg_box {
  padding: 8px 20px 8px 46px;
  margin-bottom: 10px;
  position: relative;
  color: #444;
  overflow: hidden;
  background: #f2cac2 url(../../../images/error_ico.png) no-repeat 14px center;
  border: 1px solid #ae432e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
