<?php namespace Ds3\Libraries\Legacy; ?><?

require_once dirname(__FILE__) . '/../../../includes/autoloader.php';

    define('ROOT_DIR', $_SERVER['DOCUMENT_ROOT']);

    $config_db_name = "dentalsl_site_dev_new";
    $config_db_user = "root";
    $config_db_pass = "";
    $config_db_host = "localhost";

    session_start();
    $con = mysqli_connect($config_db_host, $config_db_user, $config_db_pass) or trigger_error('connection failure', E_USER_ERROR);
    mysqli_select_db($con, $config_db_name);
    $GLOBALS['con'] = $con;

	include ROOT_DIR . '/manage/admin/classes/Db.php';

    $db = new Db();
    $GLOBALS['db'] = $db;
    
    $base_path = 'http://staging1.dss.xforty.com/dental/manage/';
    $sitename = 'Dental';
