<?php namespace Ds3\Libraries\Legacy; ?><?

require_once dirname(__FILE__) . '/../../../includes/autoloader.php';

	$config_db_name = "dentalsl_main_dev";
	$config_db_user = "root";
	$config_db_pass = "";
	$config_db_host = "localhost";

	session_start();
	$con = 	mysql_connect($config_db_host,$config_db_user,$config_db_pass) or trigger_error('connection failure', E_USER_ERROR);
	mysql_select_db($config_db_name);

	include ROOT_DIR . '/manage/admin/classes/Db.php';

	$db = new Db();
	
	$base_path = 'http://staging1.dss.xforty.com/dental/manage/';
	$sitename = "Dental";
