<?
	$config_db_name = "dentalsl_main_dev";
	$config_db_user = "root";
	$config_db_pass = "";
	$config_db_host = "localhost";

	session_start();
	$con = mysql_connect($config_db_host,$config_db_user,$config_db_pass) or die('connection failure');	
	$db = mysql_select_db($config_db_name);
	
	$base_path = 'http://staging1.dss.xforty.com/dental/manage/';
	$sitename = "Dental";
?>
