td.cat_head {
  background-color: #00457C;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 4px;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px #fff solid;
  font-size: 20px;
  font-weight: bold;
}

td.frmhead {
  background-color: #E2ECF8;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  text-align: left;
}

span.red {
  color: #FF0000;
}

input.wide-input {
  width: 500px;
}

input.add-button {
  border: 0;
  border-top: 1px solid #464747;
  background: #5c8cb7;
  padding: 2px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #ffffff;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    border-top-color: #174d7c;
    background: #174d7c;
    color: #ffffff;
    text-decoration: none;
  }

  &:active {
    border-top-color: #1f303b;
    background: #1f303b;
  }
}

a.delete-task {
  float: right;
}
