@charset "utf-8";
/* CSS Document */
body {
	margin: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-transform:uppercase;
	color:#333333;
}
.main_tab {
	border:1px solid #333333;
	padding:4px;
	}
		
.inbox_line1 {
	border:1px solid #383735;
	background-color:#FFFFFF;
	width:10px;
	height:15px;
	}
.inbox_line2 {
	border:1px solid #383735;
	background-color:#FFFFFF;
	width:15px;
	height:15px;
	}	
.heading1 {
	font-size:21px;
	font-weight:bold;
	text-transform:uppercase;
	line-height:33px;
	}
.box_bg {
	background-image:url(box.gif);
	background-position:top left;
	background-repeat:no-repeat;
	width:88px;
	height:32px;
	font-size:25px;
	font-weight:bold;
	padding-left:13px;
	}
.small_cap {
	font-size:11px;
	text-transform:none;
	}
.inbox_line3 {
	border:1px solid #383735;
	background-color:#FFFFFF;
	}
.num {
	font-size:13px;
	font-weight:bold;
	padding-right:5px;
	}
.num_a{
	font-size:13px;
	font-weight:bold;
	padding-right:5px;
	text-transform:none;
	}
.dot_line {
	background-image:url(dotedline.gif);
	background-position:top left;
	background-repeat:repeat-y;
	width:1px;
	height:auto;
	}
.b_line {
	background-image:url(b_line.gif);
	background-position:top left;
	background-repeat:repeat-y;
	width:2px;
	height:auto;
	}

body {
    margin-top: 100px;
    margin-bottom: 20px;
}

#top-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid #095d81;
    padding: 1em;
}

#top-banner h1, #top-banner h2, #top-banner h3 {
    margin: 0;
}

#top-banner ol{
    list-style-type: decimal;

}

#top-banner ol li {
    float:left;
    margin: 0 10px;
    padding: 0 30px 0 0;
}

.rejected-banner {
    margin: 20px;
    border: solid 1px #000;
    background-color: #ffecec;
    padding: 0 20px;
}

#top-banner, .rejected-banner {
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    text-transform: none;
}

table#claim-form-table {
    width: 1185px!important;
}

.eligibleapi.claim .inbox_line1 {
    width:10px!important;
}

.eligibleapi.claim .inbox-third {
    width: 28%!important;
}

.eligibleapi.claim .inbox-half {
    width: 48%!important;
}

.eligibleapi.claim select.inbox-wide {
    max-width: 120px!important;
    width: 120px!important;
}

.eligibleapi.claim.label,
.eligibleapi.claim .label {
    padding-right: 5px!important;
}

.eligibleapi.claim .label b {
    display: inline-block;
    width: 14px;
}

.eligibleapi.claim .label.vertical-center,
.eligibleapi.claim .label.vertical-center td {
    vertical-align: middle;
}
