@import "patients";

div.patient_name_div {
  margin: 4px 0 0 30px;
  height: 30px;
  padding-top: 6px;
  min-width: 317px;
  float: left;
  color: #000;
  font-size: 22px;
  background: #fed68d;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .medicare_name {
    min-width: 238px;
    padding: 0 3px;
    vertical-align: top;
    text-align: center;
    display: block;
    float: right;
  }

  .name {
    width: 100%;
    text-align: center;
    display: block;
  }
}
