.hidden {
  display: none;
}

.coverage-section {
  width: 95%;
  min-width: 1050px;
  margin: 0 auto;
}

.form-coverage {
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.right-grey-border {
  border-right: 1px solid #ddd;
}

.left-grey-border {
  border-left: 1px solid #ddd;
}

.no-bottom-border {
  border-bottom: none !important;
}

/* Bootstrap override to prevent rows overflow */
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
  word-wrap: break-word;
  max-width: 235px;
}