#edit-contact {
    background: url(assets/images/tall.jpg);
    background-repeat: repeat-x;
    background-color: rgb(191, 207, 220);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 1%;
}
