.DS_Store
*/error_log
manage/sleepstudies/*
manage/q_file/*
manage/letterpdfs/*
manage/admin/letterhead/*
manage/edx_scripts/edxProductionToken.txt
.idea
/vendor/
node_modules/
manage/3rdParty/tcpdf/cache
