@import "device-selector";

strong.device-guide-setting-name {
  padding: 5px 0;
  display: block;
}

div.setting {
  padding: 5px 0;

  & > div.label {
    padding: 5px 0;
  }
}

div.slider-wrapper > div {
  float: left;
  width: 80%;
  margin-right: 5%;
}
