br.both {
  clear: both;
}

.background-popup, #backgroundPopup2, #backgroundPopupRef, #backgroundPopupClean {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  border: 1px solid #cecece;
  z-index: 701;
  opacity: 0.7;
}

.popup-contact, #popupContact, #popupContact2, #popupRefer, #popupClean {
  position: absolute;
  height: 400px;
  background: #FFFFFF;
  border: 2px solid #cecece;
  z-index: 702;
  padding: 12px;
  font-size: 13px;
}

.popup-contact, #popupContact {
  width: 750px;
}

#popupContact2, #popupRefer, #popupClean {
  width: 600px;
}

#popupContactClose, #popupReferClose, #popupCleanClose {
  font-size: 14px;
  line-height: 14px;
  left: 6px;
  top: 4px;
  position: absolute;
  color: #6fa5fd;
  font-weight: 700;
  display: block;
}

#button {
  text-align: center;
  margin: 100px;
}

#backgroundPopup1 {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  border: 1px solid #cecece;
  z-index: 1;
}

#popupContact1 {
  position: fixed;
  height: 400px;
  width: 600px;
  background: #FFFFFF;
  border: 2px solid #cecece;
  z-index: 2;
  padding: 12px;
  font-size: 13px;
}

#popupContactClose1 {
  font-size: 14px;
  line-height: 14px;
  left: 6px;
  top: 4px;
  position: absolute;
  color: #6fa5fd;
  font-weight: 700;
  display: block;
}

#button1 {
  text-align: center;
  margin: 100px;
}

.modal-content {
  background: rgb(191, 207, 220) url(../../images/tall.jpg) repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content-white {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.v-enter-active, .v-leave-active {
  transition: opacity 250ms ease-in-out;
}

.v-enter, .v-leave-to {
  opacity: 0;
}
