a {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  background: #666;
}

div.clear {
  clear: both;
}

div.body-image {
  background: url(../../../images/dss_03.jpg) #0b5c82 repeat-y top left;
  width: 100%;
}

div.patient-menus {
  width: 98.6%;
  background: #00457c;
  margin: 0 auto;
}
