.clear {
  clear: both;
}

p {
  margin: 0;
}

div.sepH_b {
  height: 25px;
  margin-bottom: 12px;
}

div.dp50 {
  float: left;
  display: inline;
  margin: 0 1%;
  min-height: 1px;
  width: 48%;
}

input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

div.error {
  position: relative;

  > label {
    color: #9d261d;
  }
}

label.lbl_a {
  display: block;
  margin-bottom: 4px;
  color: #666;
  font-weight: 700;
}
