div.clear {
  clear: both;
}

div.results-inner {
  float: left;

  &.results-inner-first {
    width: 58%;
  }

  &.results-inner-second {
    width: 38%;
  }

  label {
    font-weight: bold;
  }
}

h3 {
  margin-bottom: 6px;
}

a.btn {
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  overflow: visible;
  padding: 0 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  background: url(../../../images/grd_dl.png) repeat-x 0 center;
  border: 1px solid #575e72;
  color: #fff;
  text-shadow: 1px 1px 0 #273147;
  font: 700 18px/36px Helvetica, Arial, sans-serif;

  &:hover {
    text-decoration: none;
  }

  &.results-button {
    float: left;
  }

  &.finish-button {
    float: right;
  }

  &.hst-button {
    margin-left:20px;
    float: right;
  }
}
