p {
  margin: 0;

  &.big-text {
    font-size: 14px;
  }
}

img.right-image {
  float: right;
}

div.clear {
  clear: both;
}

div.dp50 {
  float: left;
  display: inline;
  margin: 0 1%;
  min-height: 1px;
  width: 48%;
}

h3 {
  margin: 0 0 6px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #222;
}

div.sepH_b {
  margin-bottom: 12px;
}

div.error {
  position: relative;

  > label {
    color: #9d261d;
  }
}

input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;

  &:focus, &:active {
    background-color: #ebfdd7;
  }

  &.inpt_a {
    padding: 5px 8px;
    border: 1px;
    border-color: #b8b8b8 #e2e2e2 #e2e2e2 #b8b8b8;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 80%;
  }
}

label.lbl_a {
  display: block;
  margin-bottom: 4px;
  color: #666;
  font-weight: 700;
}

div.cf {
  &::before, &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

a.btn {
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  overflow: visible;
  padding: 0 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  float: right;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  background: url(../../../images/grd_dl.png) repeat-x 0 center;
  border: 1px solid #575e72;
  color: #fff;
  text-shadow: 1px 1px 0 #273147;
  font: 700 24px/50px Helvetica, Arial, sans-serif;

  &:hover {
    text-decoration: none;
  }

  &.disabled {
    display: none;
    background: #999;
  }
}
